# Nuxt
.nuxt
.output
.data
dist

# deps
node_modules

# env
.env
.env.local

# misc
.DS_Store
*.log
.vercel

# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.build/
.swiftpm/
